{% load static %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="{% url 'index' %}">آتی اندیشان بصیر</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="{% if page == 'index#hero' %}  active {% endif %}"><a class="nav-link scrollto" href="{% url 'index' %}#hero">خانه</a></li>
          <li class="{% if page == 'index#about' %}  active {% endif %}"><a class="nav-link scrollto " href="{% url 'index' %}#about">درباره ما</a></li>
          <li class="{% if page == 'index#more-services' %}  active {% endif %}"><a class="nav-link scrollto " href="{% url 'index' %}#more-services">خدمات </a></li>
          <li class="{% if page == 'news#team' %}  active {% endif %}"><a class="nav-link scrollto " href="{% url 'news' %}">اخبار و رویدادها </a></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              محصولات
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item " href="{% url 'penu_listings' %}">پنوماتیکی</a></li>
              <li><a class="dropdown-item" href="{% url 'hydro_listings' %}"> هیدرولیکی</a></li>
              <li><a class="dropdown-item " href="#"> شیرآلات صنعتی</a></li>
              <li><a class="dropdown-item" href="#"> کلیدهای فشار بالا </a></li>

            </ul>
          </li>
          <li class="{% if page == 'index#contactus' %}  active {% endif %}"><a class="getstarted nav-link scrollto " href="{% url 'index' %}#contactus"> تماس با ما</a></li>


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->