{% extends '../base.html' %}
{% block content %}
{% load static %}


<main id="main">
    <section class="inner-page">
      <section id="team" class="team section-bg">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>اخبار</h2>
          </div>
  
          <div class="row " data-aos="fade-up">
            {% for i in news %}
            <div class="card mb-3 text-center">
              <img src="{{ i.img.url }}" class="card-img-top" alt="...">
              <div class="card-body ">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text"><small class="text-body-secondary"></small></p>
                <a href="{% url 'new' i.id %}" class=" stretched-link w-100"></a>
              </div>
            </div>
            {% endfor %}

          </div>
  
        </div>
      </section>
    </section>
  </main>
{% endblock %}