{% extends '../base.html' %}
{% block content %}
{% load static %}


<main id="main">
  <section class="inner-page">
    <section id="news" class="team section-bg">
      <div class="container text-center">
        <div class="section-title">
          <h2>اخبار</h2>
        </div>
        <div class="row">
          <div class="col-2 "></div>
          <div class="col-8 justify-content-center mx-10">
            {% for i in news %}
            <div class="card my-2 w-100">
              <img src="{{ i.img.url }}" class="card-img-top" alt={{ i.title }}>
              <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text"><small class="text-body-secondary">{{ i.body }}</small></p>
                <!-- <a href="{% url 'new' i.id %}" class=" stretched-link w-100"></a> -->
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="col-2 ">
          </div>
        </div>

      </div>

      </div>
    </section>
  </section>
</main>
{% endblock %}