{% extends '../base.html' %}
{% block content %}
{% load static %}

  <main id="main">
    {% if air_impact_listing0 %}    
    <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <section id="portfolio-details" class="portfolio-details">
              <div class="row gy-4">

                <div class="col-lg-8">
                  <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
      
                      <div class="swiper-slide">
                        <img src="{{ air_impact_listing0.part_image_main.url }}" alt="">
                      </div>
      
                      <div class="swiper-slide">
                        <img src="{{ air_impact_listing0.part_image_a.url }}" alt="">
                      </div>
      
                      <div class="swiper-slide">
                        <img src="{{ air_impact_listing0.part_image_b.url }}" alt="">
                      </div>
                      
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="portfolio-info">
                    <h3>اطلاعات محصول {{air_impact_listing0.part_name}}</h3>
                    <ul>
                      <li><strong>مشتری</strong>: {{air_impact_listing0.part_customer}}</li>
                      <li><strong>کاتالوگ محصول</strong>: <a href="{{ air_impact_listing0.part_catalog.url }}" download="کاتالوگ">اینجا کلیک کنید</a></li>
                    </ul>
                  </div>
                  <div class="portfolio-description">
                    <h2>{{air_impact_listing0.part_name}}</h2>
                    <p align="justify">
                      {{air_impact_listing0.part_exact_discription}}
                    </p>
                </div>

              </div>
              </div>
              <section id="portfolio" class="portfolio">
                <div class="container">
          
                  <div class="section-title" data-aos="fade-up">
                    <h2> محصولات</h2>
                    <p align="justify">
                      {{air_impact_listing0.general_part_discription}}
                    </p>                    
                  </div>
          
                  <div class="row" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-12 d-flex justify-content-center">
                      <ul id="portfolio-flters">
                        <!-- <li data-filter="*" class="filter-active">همه محصولات</li> -->
                        <li data-filter=".filter-technical">مشخصات فنی</li>
                        <!-- <li data-filter=".filter-unknown">اسمش رو نمیدونیم</li> -->
                      </ul>
                    </div>
                  </div>

                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">model</h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_model}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Drive Type</h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_drive_type}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Drive size</h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_drive_size}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Type</h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_type_air_impact}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Max Torque(ft-lbs)-(Nm)</h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_torque}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Blows per minute </h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_BPM}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Sound level DB</h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_sound_level}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Vibration Level M/S2 (K) </h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_vibration_level}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Weight (kg)</h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_weight}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Dimention (mm)</h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_dim}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Air inlet</h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_air_inlet}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Min Hose Size(in) </h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_min_hose_size}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-12 col-md-6 portfolio-item align-items-stretch filter-technical">
                      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 ">
                          <h4 class="text-center">Average Air Consumption (CFM) </h4>
                        </div>
                        <div class="col-lg-3">
                          <p>
                            {{air_impact_listing0.part_average_air_consumption}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>





                 </div>
                </div>
              </section>
          </section>
        </div>
      </section>
    <!-- End Breadcrumbs -->
  {% endif %}
  </main>
<!-- End #main -->
{% endblock %}