{% extends '../base.html' %}
{% block content %}
{% load static %}


<main id="main">
  <section class="inner-page">
    <div class="container py-5">
      <div class="row">
        {% for i in serv1 %}
        {% if i.part_type == 'penu' %}

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="card" style="width: 18rem;">
              <img src="{{ i.part_image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">{{ i.part_name}}</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>

      {% else %}
        <h1>هیچی چیزی برای نمایش وجود ندارد</h1>
      {% endif %}
    {% endfor %}

    </div>
  </div>
  </section>
  </main>
{% endblock %}