{% extends '../base.html' %}
{% block content %}
{% load static %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>جزییات بیشتر محصول</h2>
          <ol>
            <li><a href="index.html">خانه</a></li>
            <li>جزییات محصول</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">
          {% for i in serv1 %}
          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{ i.part_image.url }}" alt="">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">

            <div class="portfolio-info">
              <h3>اطلاعات محصول {{i.part_name}}</h3>
              <ul>
                <li><strong>مشتری</strong>: {{i.part_customer}}</li>
                <li><strong>کاتالوگ محصول</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>{{i.part_name}}</h2>
              <p>
                {{i.part_disctiption}}
              </p>
            </div>
          {% endfor %}
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

</html>
{% endblock %}